@import "variables";
@import "utilis";
*{
    margin: 0;
}
body{
    font-size: 13px;
    
}
main{
    background-color: $body-bc;
    padding: 8rem;
}
article{ 
    padding: 2rem;
}
#daniel{
    background-color: $daniel-bc;
    color: white;
}
#jonathan{
    background-color: $jonathan-bc;
    color: white;
}
#kira, #jeanette{
    background-color: $kira-jeanette;
    color: rgb(77, 74, 74);
}
#patrick{
    background-color: $pattric-bc;
    color: white;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
article>h2{
    @include my-font;
    padding: 15px 0;
}
article .special{
    @include my-special-font;
}
#daniel p{
    color: rgba(255, 255, 255, 70%);
}
#jonathan p{
    color: rgba(255, 255, 255, 70%);
}
#patrick  p{
    color: rgba(255, 255, 255, 70%);
}
#kira p{
    color: rgba(77, 74, 74, 0.7)
}
#jeanette p{
    color: rgba(77, 74, 74, 70%)
}