article section div{
    display: inline-block;
}
article section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media screen and (min-width: 1023px) {
    
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
        grid-auto-flow: dense;
        padding: 4rem 8rem;
        height: 100vh;
    }
    #daniel{
        grid-area: 1/1/2/3;
    }
    #jonathan{
        grid-area: 1/3/2/4;
    }
    #kira{
        grid-area: 1/4/3/5;
    }
    #jeanette{
        grid-area: 2/1/3/2;
    }
    #patrick{
        grid-area: 2/2/3/4;
    }
    
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    main{
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
        place-self: center;
    }
    #daniel{
        grid-row: 1 span 2;
    }
    #jonathan{
        grid-row: 3 span 1;
    }
    #kira{
        grid-row: 6 span 2;
    }
    #jeanette{
        grid-row: 4 span 1;
    }
    #patrick{
        grid-row: 5 span 2;
    }
    
}