$body-bc: hsl(210, 46%, 95%);
$kira-jeanette: hsl(0, 0%, 100%);
$daniel-bc: hsl(263, 55%, 52%);
$jonathan-bc:  hsl(217, 19%, 35%);
$pattric-bc: hsl(219, 29%, 14%);
$specialtext-color:  hsl(0, 0%, 81%);